<!-- _includes/sections/about.html -->
<span class="anchor" id="about-me"></span>

<div class="about-intro" markdown="1">
My research interests lie at the intersection of **economic geography**, **urban economics**, and **development studies**. I focus on two key areas. First, I explore how political structures and governance at various spatial scales shape policies and practices that affect intergenerational inequality. This includes examining how spatial planning and regional development strategies can either mitigate or reinforce disparities, as well as how institutional mechanisms influence mobility and the welfare of future generations. Second, I investigate how the quality and extent of social networks and spatial frictions shape urban evolution, and their implications for economic development.

My first name is pronounced rway-ee.
</div>

<div class="two-col">
  <div markdown="1">
  ## Education
  PhD in Geography, 2025–Present  
  &nbsp;<span class="school">The University of Hong Kong</span>  

  Bachelor of Economics, 2021–2025  
  &nbsp;<span class="school">The University of Hong Kong</span>  
  </div>
  
  <div markdown="1">
  ## Interests
  Urban Evolution  

  Economic Development

  Regional Political Economy

  Computational Social Science
  </div>
</div>
   

<p class="contact-block">
  Please contact me at
  <a href="mailto:r&#117;i&#121;i@c&#111;nnect.h&#107;u.hk">
    r&#117;i&#121;i@c&#111;nnect.h&#107;u.hk
  </a>.
</p>



<div class="contact-block" id="contact">
  <p>
    Please contact me at
    <a href="mailto:ruiyi@connect.hku.hk">ruiyi@connect.hku.hk</a>.
  </p>
</div>
